<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table ng-init="students=[{name:'luna',age:18,score:100},{name:'guagua',age:19,score:59},{name:'罗娜',age:22,score:85},{name:'瓜瓜',age:23,score:85}]">
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>score</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tmp in students" ng-if="tmp.score>60">
        <!--
            ng-if 为HTML添加选择功能 表达式结果为true 当前元素会挂到DOM树上  否则删除
        -->
        <td ng-repeat="v in tmp">{{v}}</td>
    </tr>
    </tbody>
</table>
<script src="js/angular.js"></script>
</body>
</html>